<section class="listing">
    <!-- <img
      class="listing-photo"
      [src]="housingLocation.photo"
      alt="Exterior photo of {{ housingLocation.name }}"
      crossorigin
    /> -->
    <h2 class="listing-heading">{{ tareaList.nombre }}</h2>
    <p class="listing-location">{{ tareaList.descripcion }},</p>
    <div class="container-fluid">
      <div class="row">
        <div *ngIf="!tareaList.completado" class="col-6">
          <button class="btn btn-success" type="submit" (click)="completado(tareaList.id)">Completar</button>
        </div>
        <div *ngIf="!tareaList.completado" class="col-6">
          <a [routerLink]="['/details', tareaList.id]">Modificar</a>
        </div>
      </div>
    </div>
</section>