<article style="padding: 30px;">
    <!-- <img
      class="listing-photo"
      [src]="housingLocation?.photo"
      alt="Exterior photo of {{ housingLocation?.name }}"
      crossorigin
    /> -->
    <section class="listing-description">
      <h2 class="listing-heading">{{ tarea.nombre }}</h2>
      <!-- <p class="listing-location">{{ tarea?.city }}, {{ tarea?.state }}</p> -->
    </section>
    <!-- <section class="listing-features">
      <h2 class="section-heading">About this housing location</h2>
      <ul>
        <li>Units available: {{ tarea?.availableUnits }}</li>
        <li>Does this location have wifi: {{ tarea?.wifi }}</li>
        <li>Does this location have laundry: {{ tarea?.laundry }}</li>
      </ul>
    </section> -->
    <section class="listing-apply">
      <h2 class="section-heading">Puede actualizar los datos aqui:</h2>
      <form [formGroup]="tareaForm">
        <label for="first-name">Descripción</label>
        <input id="first-name" type="text" formControlName="descripcion" />
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <button type="submit" class="btn btn-danger" (click)="eliminarTarea(tarea.id)">Eliminar</button>
            </div>
            <div class="col-4">
              <button type="submit" class="btn  btn-success" (click)="modificarTarea(tarea.id)">Guardar</button>
            </div>
          </div>
        </div>
        
        
      </form>
    </section>
  </article>